<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/navbar'); %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tokomedia!</title>
</head>

<body>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">NMD_R1 PRIMEKNIT SHOES</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_85,h_85,f_auto,q_auto:sensitive,fl_lossy/ec91cda8068549c4a92baa3a0105c7dd_9366/nmd_r1-primeknit-shoes.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 120000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">NMD_R1 WOMAN SHOES</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/97fef735bfd044479dfcaa2c011cdb2c_9366/NMD_R1_Shoes_Blue_EE5171_01_standard.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 100000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Woman Crewneck Sweatshirt</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/927fe4074899424e9a02aa3f0121d9ed_9366/TAN_Crewneck_Sweatshirt_Blue_FK9870_21_model.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price : 40000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Trefoil Plus Tee</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/c249506ab42e4d8886cdaa6b0158bf9d_9366/Trefoil_Plus_Tee_Purple_FN2911_21_model.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Pharrel Williams X Adidas</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/737098cc1de0415bac9caa50010491f3_9366/pharrell-williams-x-adidas-solar-hu-prd-shoes.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">UltraBoost 19 Shoes</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/fe2f274345254e88849faa6900fd2052_9366/Ultraboost_19_Shoes_Red_G27509_01_standard.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 75000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Predator Firm Ground Cleats</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/5ea39ba26cb64c629501aa630104a886_9366/Predator_19.3_Firm_Ground_Cleats_Black_F35594_01_standard.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 100000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Juventus Autentic Jersey</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/28271426b92e456aac23aa42008a908f_9366/Juventus_Home_Authentic_Jersey_Black_DW5456_HM1.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Indoor Shoes</div>
                    <div class="card-body text-success p-0"
                        style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail"
                                src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/5460477c725c4961b5b1aa5600ecc5d7_9366/X_19.1_Firm_Ground_Cleats_Blue_F35684_01_standard.jpg"
                                alt="" srcset="" style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                    <div class="card-footer bg-transparent border-success"><a href='/product/form-buy'>Buy</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>