<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 1; width: 100%">
                <a class="navbar-brand" href="#">BuyProduct</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <!-- bates kiri -->
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">How to order <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                GamePlay
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/cdgames">Genre</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Users
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Register Data</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Login</a>
                                </div>
                            </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <br>
            <br>
            <br>
<div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">NMD_R1 PRIMEKNIT SHOES</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://assets.adidas.com/images/w_85,h_85,f_auto,q_auto:sensitive,fl_lossy/ec91cda8068549c4a92baa3a0105c7dd_9366/nmd_r1-primeknit-shoes.jpg" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 120000</div>
                    <div class="card-footer bg-transparent border-success"><a href= '/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">NMD_R1 WOMAN SHOES</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/97fef735bfd044479dfcaa2c011cdb2c_9366/NMD_R1_Shoes_Blue_EE5171_01_standard.jpg" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 100000</div>
                    <div class="card-footer bg-transparent border-success"><a href= '/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Woman Crewneck Sweatshirt</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/927fe4074899424e9a02aa3f0121d9ed_9366/TAN_Crewneck_Sweatshirt_Blue_FK9870_21_model.jpg" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price : 40000</div>
                    <div class="card-footer bg-transparent border-success"><a href= '/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Trefoil Plus Tee</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://assets.adidas.com/images/w_840,h_840,f_auto,q_auto:sensitive,fl_lossy/c249506ab42e4d8886cdaa6b0158bf9d_9366/Trefoil_Plus_Tee_Purple_FN2911_21_model.jpg" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                    <div class="card-footer bg-transparent border-success"><a href= '/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Pharrel Williams X Adidas</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://assets.adidas.com/images/w_385,h_385,f_auto,q_auto:sensitive,fl_lossy/737098cc1de0415bac9caa50010491f3_9366/pharrell-williams-x-adidas-solar-hu-prd-shoes.jpg" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                    <div class="card-footer bg-transparent border-success"><a href= '/product/form-buy'>Buy</a></div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">FIFA 19</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc5o.Gms14yKJcD4Yna5HIccFnKcFU7N.HfH0oe2YIHkHvH1Pn1uyaMN1STlMpgBRA54LJ27RYXkgfZJHs8NL7c9PA5Atr5KQ52JDsSB0qf58sVHafDq7vdM87TDITp_YNSf5QKqNbIf18IGlH0ZPPp1md47zLIAH8j08QUpNY6Vg-&w=200&h=300&format=jpg" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 75000</div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">BOXVR</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://steamcdn-a.akamaihd.net/steam/apps/641960/capsule_616x353.jpg?t=1537460561" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 100000</div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Warhabber Chaosbane</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP4008-CUSA13072_00-WHCBSIEA00000000/1560291976000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Rage 2</div>
                    <div class="card-body text-success p-0" style="max-width: 300px; max-height: 200px; overflow: hidden;">
                        <!-- <h5 class="card-title">Success card title</h5> -->
                        <p class="card-text">
                            <img class="img-thumbnail" src="https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2018/06/rage-2.jpg?itok=4DS0amOC" alt="" srcset=""  style="height: 200px; width: 2000px;">
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Price: 50000</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>